.border{
  border: 2px solid #e91e63;
  margin: 2px;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
}

.bg-black{
  background-color: #fff;
  color:#333;
}

.bg-grey{
  background-color: #f9f9f9;
}

.invert{
  filter: invert(1);
}
.m1{
  margin: 5px;
}

.rounded{
  border-radius: 7px;
}

.p1{
  padding: 10px;
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;   /* Dark track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e91e63;       /* Medium-dark thumb */
  border-radius: 10px;
  border: 2px solid #f5f5f5; /* Adds gap effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #c2185b;       /* Brighter on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e91e63 #f5f5f5; /* thumb color | track color */
}
